<h1> Chefy </h1>
<br>
{{ greeting }} world!
<hr>
{{#if user}}
You are currently logged in as {{user.username}}.
<br>
What would you like to do?
<br>
<a href="/sell">Sell Food</a>
<br>
<a href="/buy">Buy Food</a>
<br>
<br>
<a href="/logout">Logout</a>
{{else}}
To proceed, you must login first.
<br>
<a href="/login">Login</a> | <a href="/register">Register</a>
{{/if}}
