<h1> Transaction Successful!</h1>
How would you rate your meal?
<br>
<form action="/review" method="post">
	Star rating - radio?
	<br>
	<textarea rows="5" cols="50">Comments</textarea>
	<br>
	<input type="submit" value="Rate">
</form>
<hr>
<a href="/">Back Home</a>
